<div class="container">
    <div class="jumbotron" id="tagline">
        <h1>Burger eater</h1>
        <br>
        <h4>Select a burger or create your own</h4>
    </div>
    <panel>
        <form class="create-form">
            <div class="form-group">
                <label for="selectBurger"></label>
                    <select class="form-control" id="burgerSelection">
                        <option value="No Selection">Please Select a Hamburger</option>
                        <option>Ricky Bobby</option>
                        <option>Kiwiburger</option>
                        <option>Jalapeno Cheeseburger</option>
                        <option>Toro Burger</option>
                        <option>Veggimate Soy Burger</option>
                        <option>Seitanic Burger</option>
                        <option>Half a pound Burger</option>
                        <option>Southwestern Burger</option>
                        <option>Smith Avocado Sandwich</option>
                    </select>
            </div>
        </form>
    </panel>
</div>